
.lsModal
{
	background-color: #FFFFFF;
    border-radius: 5px;
    border-style: 4px solid #CCCCCC;
    box-shadow: 0 9px 14px #808080;
    font-size: 12px !important;
    padding: 10px 30px;
    position: absolute;
    right: 16px;
    top: 200px;
    width: 80%;
    z-index: 1035;
    overflow: hidden;
    /*border: 3px solid;*/
}
/*.lsModalMask
{
	background-color: #C0C0C0;
    position: absolute;
    top: 5%;
    width: 100%;
    z-index: 999;
}*/
.lsModalMask
{
	background-color: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1030;
}
.lsModalClose
{
	float: right;
	color: #000000;
    float: right;
    font-family: inherit;
    font-weight: inherit;
    cursor: pointer;
}
.lsModalClose a
{
	color: #000000 !important;
	text-decoration: none;
}
.lsModalHead span
{
	font-family: inherit;
    font-weight: inherit;
}
.lsModal legend
{
	font-size: 14px;
}
.lsModalHead span
{
	color: #000000;
}
.lsModal legend
{
	width: 100%;
	margin-bottom: 7px;
	border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
    border-image: none;
  /*   border-style: none none solid; */
    border-width: 0 0 1px;
    color: #2C3E50;
}