@charset "utf-8";
/* CSS Document */

.disable{
	background-color:#f4f4f4;
}
.h1head{
	font-size:24px;
}
.dim_size {
    display: inline-flex;
    margin: 14px 0 18px;
    overflow: hidden;
}

.volume {
    width: 300px;
}

#imageulID{
	display:block;
}
#imageulID li{
	display:inline-block;
	padding:10px;
	
}

.ajaxloadermodal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/paketbum/assets/img/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .ajaxloadermodal {
    display: block;
}

.hide{
	 display:none;
}
.container_signup {
    background: none repeat scroll 0 0 #fff;
    border: 0px solid #d9d9d9;
    margin: 0;
    overflow: hidden;
    width: 860px;
}

.sigin {
    border-right: 1px dotted #d9d9d9;
    float: left;
    margin: 0 39px 0 0;
    overflow: hidden;
    padding: 0 41px 0 0;
    width: 320px;
}

.customer_select {
    margin: 18px 27px 16px;
    overflow: hidden;
}
.sigup h2 {
   
    margin-left: 35px;
}

.btn_signin {
	overflow: hidden;
	display: block;
	border: medium none;
	width: 127px;
	height: 38px;
	background: url(../img/btn_signin.png) no-repeat;
	margin: 0 auto;
}
.btn_signin:hover {
	background: url(../img/btn_signin.png) no-repeat left bottom;
}
a.btn_sigup {
	overflow: hidden;
	display: block;
	width: 119px;
	height: 40px;
	background: url(../img/btn_register.png) no-repeat;
	margin: 0 auto;
}
a.btn_sigup:hover {
	background: url(../img/btn_register.png) no-repeat left bottom;
}

.sign_text {
    margin: 0px;
    overflow: hidden;
}

body{
	 background: none repeat scroll 0 0 #fff;
	 
}

.btnValue .btnSignup {
    background: url("../img/sign_up.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 26px;
    margin: 10px 0 0 270px;
    width: 80px;
}
.btnValue .btnSignup:hover {
    background: url("../img/sign_up.png") no-repeat scroll left bottom rgba(0, 0, 0, 0);
}


.formStar{
	color:#ff7f00;
}
.pickup1 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../img/datepicker.png") no-repeat scroll 118px center rgba(0, 0, 0, 0);
    border-color: #d9d9d9;
    border-image: none;
    border-style: solid;
    border-width: 2px 1px 1px;
    cursor: pointer;
    height: 36px;
    margin: 0 0 20px;
    overflow: hidden;
    padding: 3px;
    width: 145px;
}
.ui-datepicker {
    display: none;
    padding: 0.2em 0.2em 0;
    width: 17em;
}
.ui-datepicker .ui-datepicker-header {
    background: none repeat scroll 0 0 #fbfbfb;
    padding: 0.2em 0;
    position: relative;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    height: 1.8em;
    position: absolute;
    top: 2px;
    width: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}
.ui-datepicker .ui-datepicker-next {
    right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
    right: 1px;
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
}
.ui-datepicker .ui-datepicker-title {
    line-height: 1.8em;
    margin: 0 2.3em;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 45%;
}
.ui-datepicker table {
    border-collapse: collapse;
    font-size: 0.9em;
    margin: 0 0 0.4em;
    width: 100%;
}
.ui-datepicker th {
    border: 0 none;
    font-weight: bold;
    padding: 0.7em 0.3em;
    text-align: center;
}
.ui-datepicker td {
    border: 0 none;
    padding: 1px;
}
.ui-datepicker td span, .ui-datepicker td a {
    display: block;
    padding: 0.2em;
    text-align: right;
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    border-bottom: 0 none;
    border-left: 0 none;
    border-right: 0 none;
    margin: 0.7em 0 0;
    padding: 0 0.2em;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    cursor: pointer;
    float: right;
    margin: 0.5em 0.2em 0.4em;
    overflow: visible;
    padding: 0.2em 0.6em 0.3em;
    width: auto;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}
.ui-datepicker.ui-datepicker-multi {
    width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
    float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
    margin: 0 auto 0.4em;
    width: 95%;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
    width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
    width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
    width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
    clear: left;
}
.ui-datepicker-row-break {
    clear: both;
    font-size: 0;
    width: 100%;
}
.ui-datepicker-rtl {
    direction: rtl;
}
.ui-datepicker-rtl .ui-datepicker-prev {
    left: auto;
    right: 2px;
}
.ui-datepicker-rtl .ui-datepicker-next {
    left: 2px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-prev:hover {
    left: auto;
    right: 1px;
}
.ui-datepicker-rtl .ui-datepicker-next:hover {
    left: 1px;
    right: auto;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane {
    clear: right;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button {
    float: left;
}
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current, .ui-datepicker-rtl .ui-datepicker-group {
    float: right;
}
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header, .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
    border-left-width: 1px;
    border-right-width: 0;
}

#container h1 {
    bottom: 0;
    
}